
.content-wrapper {
    display: grid;

    grid-template-areas: "side main" ;
    
    /* grid-template-rows: 60px 1fr; */
    grid-template-columns: 2.5fr 10fr;
    grid-gap: 10px;
    margin-top: 75px;
}

.side-bar {
    grid-area: side;
}

.main {
    grid-area: main;
}