.my-input {
    width:100%;
    position: relative;
    padding: 5px;
    border: 1px solid #000;
    color: #000;
    box-shadow:0 0 15px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.my-input::placeholder {
    color: #000;
}

.my-input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #000000;
}



